<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176869019276-f3odkb9leiuouvi9id76vqlvs3bl0ttt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176869019276-f3odkb9leiuouvi9id76vqlvs3bl0ttt</string>
	<key>API_KEY</key>
	<string>AIzaSyDn320mVDXEVttoCEbHoX2ivm7D6rVUavA</string>
	<key>GCM_SENDER_ID</key>
	<string>176869019276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rickAndMorty</string>
	<key>PROJECT_ID</key>
	<string>rickandmorty-2f8e8</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmorty-2f8e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176869019276:ios:ba0044d659e48ab03f35a9</string>
</dict>
</plist>